* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background-image: url('https://sgpl.ca/~/media/yrl/sprucegrove/children-department-photos/pokemon/pokemon-feat-image.ashx?la=en&hash=6CACD0CABC098D84BC4395492E72F0B9431C49FB');
    background-repeat: no-repeat;
    background-size: cover;
}

body, button {
    --color1: hsla(281, 26%, 74%, 1);
    --color2: rgb(235, 170, 109);
    --color3: rgb(108, 123, 172);
    --color4: hsla(160, 50%, 33%, 1);
    --color5: rgb(219, 206, 88);
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: white;
    font-size: 3rem;
}

thead {
    color: white;
    font-size: 1.5rem;
}

table {
    width: 80%;
}

.table-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsla(160, 50%, 33%, .4);
}

td {
    border: black 1px solid;
    justify-self: center;
}

button {
    background-color: var(--color3);
    justify-items: center;
}

.name-data {
    background-color: var(--color4);
}

.seen-data {
    background-color: var(--color3);
}

.caught-data {
    background-color: var(--color1);
}

.poke-img {
    cursor: pointer;
    width: 200px;
    height: 200px;
    transition: .2s ease-out;
}

.poke-img:hover {
    transform: scale(1.5);
}