
body {
    --color1: rgba(178, 134, 199, 0.75);
    --color2: rgb(255, 164, 89);    
    --color3: rgb(108, 123, 172, .75);
    --color4: hsla(160, 50%, 33%, .75);
    --color5: rgb(235, 218, 66); 
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Sigmar One', cursive;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color4);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 4px var(--color5);
}

header {
    display: flex;
    justify-content: flex-end;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    box-shadow: var(--shadow);
}


h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(82, 81, 81);
    text-align: center;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
    color: rgb(82, 81, 81);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  .poke-img {
    cursor: pointer;
    width: 200px;
    height: 200px;
    transition: .2s ease-in-out;
}

.poke-img:hover {
    transform: scale(1.5);
}